body{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #1F160F;
}
header{
    width:100%;
    height:55px;
    background:rgba(255, 255, 255, .9);
    border-top: 3px solid #FA7D3C;
    box-sizing: border-box;
    line-height: 49px;
}
header input{
    width:470px;
    height:30px;
    border: 1px solid #CCCCCC;
    background: transparent;
    text-indent: 20px;
    margin-left: 60px;
    outline: none;
}
header input:focus{
    border-color: tomato;
}
header .logo{
    margin-left:300px;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}
.clearfix::after{
    content: '';
    display:block;
    clear:both;
}
.content_wrapper{
    width:920px;
    margin:0 auto;
    min-height:800px;
    background: rgba(0, 0, 0, .4);
}
.left_content{
    width:70%;
    float:left;

}
.right_content{
    width:30%;
    float:right;
}